body {
    font-family: monospace;
    max-width: 625px;
    background: rgb(255, 253, 245);
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background: rgb(28, 28, 28);
    }

    a {
        color: #66ccff;
    }
}

img {
    max-width: 100%;
}

ul {
    list-style-type: square;
}

li {
    margin-top: 1em;
}